# 연습문제 1

3명 이상 친구 이름 리스트를 작성하고 다음 내용을 프로그램하시오.

insert()로 맨 앞에 새로운 친구 추가  

insert()로 세 번째 위치에 새로운 친구 추가  

append()로 마지막에 친구 추가

In [3]:
friends = ["홍길동", "이순신", "강감찬"]  

# 1. 맨 앞에 새로운 친구 추가
friends.insert(0, "유관순")

# 2. 세 번째 위치에 새로운 친구 추가
friends.insert(2, "안중근")

# 3. 마지막에 친구 추가
friends.append("김유신")

print("최종 친구 리스트:", friends)

최종 친구 리스트: ['유관순', '홍길동', '안중근', '이순신', '강감찬', '김유신']

리스트 [1, 2, 3]에 대해 다음과 같은 처리를 하라.

- 두 번째 요소를 17로 수정
- 리스트에 4, 5, 6을 추가
- 첫 번째 요소 제거
- 리스트를 요소 순서대로 정렬
- 인덱스 3에 25 넣기

In [4]:
# — 숫자 리스트 처리 예제 —
numbers = [1, 2, 3]

# 1. 두 번째 요소를 17로 수정
numbers[1] = 17

# 2. 리스트에 4, 5, 6을 추가
numbers.extend([4, 5, 6])

# 3. 첫 번째 요소 제거
numbers.pop(0)

# 4. 리스트를 요소 순서대로 정렬
numbers.sort()

# 5. 인덱스 3에 25 넣기
numbers.insert(3, 25)

print("처리된 숫자 리스트:", numbers)

처리된 숫자 리스트: [3, 4, 5, 25, 6, 17]

# 연습문제 2
다음을 for 루프를 이용하여 프로그램하시오.

- 리스트 생성

0부터 49까지의 수로 구성되는 리스트
1부터 50까지 수의 제곱으로 구성되는 리스트

In [5]:
numbers = []
for i in range(50):
    numbers.append(i)
print("0~49 리스트:", numbers)

0~49 리스트: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [6]:
squares = []
for i in range(1, 51):
    squares.append(i * i)
print("1~50 제곱 리스트:", squares)

1~50 제곱 리스트: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

크기가 같은 두 리스트 L, M을 생성하고, 두 리스트의 같은 인덱스 요소끼리 합으로 구성되는 새로운 리스트를 생성하라. 예) L = [1, 2, 3], M = [4, 5, 6] → [5, 7, 9]

In [7]:
L = [1, 2, 3]
M = [4, 5, 6]
sum_list = []
for x, y in zip(L, M):
    sum_list.append(x + y)
print("L+M 요소 합 리스트:", sum_list)

L+M 요소 합 리스트: [5, 7, 9]

사용자로부터 5개의 숫자를 쉼표로 구분된 문자열로 입력받아, 각 숫자를 +로 연결한 새로운 문자열을 생성하라. 예) 입력 2,5,11,33,55 → 출력 '2+5+11+33+55'

In [8]:
input_str = input("숫자 5개를 쉼표로 구분하여 입력하세요: ")
parts = input_str.split(",")               # ["2", "5", "11", "33", "55"]
result = "+".join(parts)
print("결과 문자열:", result)

결과 문자열: 2+ 5+ 11+ 33+ 55