# 문자열
문자나 단어 등으로 구성된 문자의 집합을 표현하는 자료구조

'' ("") 부터 ''("") 까지 문자

In [6]:
"""
Hello 
World
"""

'\nHello \nWorld\n'

#### - 문자의 개별적 사용

In [8]:
word = 'Python'
word[0]

'P'

In [9]:
word[-6]

'P'

#### - 문자열 잘라내기

In [10]:
word = 'Python'
print(word[0:2]) # 첨자0부터1(=2-1)까지

print(word[2:5]) # 첨자2부터4(=5-1)까지

print(word[:2]) # 첨자0부터1까지의문자

Py
tho
Py

#### - 문자열 인덱싱과 슬라이싱 오류

In [11]:
word[42]

IndexError: string index out of range

슬라이싱 에서는 범위를 벗어나도 OK

In [12]:
word[4:42]

'on'

문자열은수정불가-immutable

In [13]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

슬라이싱을 이용하여 새로운 문자열 만들기

In [15]:
word = 'Python'
word2 = 'J' + word[1:] # +를 이용한문자열합치기
word2

'Jython'

#### - 문자열 길이 확인

In [14]:
s = 'smiles'
len(s)

6

#### - index를 이용하여 문자열의 문자를 역순으로 만들기

In [17]:
## 변수초기화부분 ##
outStr = "" #출력문자열(빈문자열)
count, i = 0, 0
 
 ## 메인코드부분 ##
inStr = input("Type string : ")
count = len(inStr) #문자열 길이
for i in range(0, count) :
    outStr += inStr[count - (i + 1)] #마지막 문자부터 추출하여 합치기
print("Reversed string : %s" % outStr)

Reversed string : olleH

#### - 문자열의 문자 조사

In [19]:
'a' in 'cat'

True

In [20]:
'a' not in 'can'

False

객체: 변수와 함수를 묶은 것  
메소드: 객체와 관련된 함수
호출: 객체.함수()

In [21]:
'123'.isdigit()

True

isalpha() 문자열이 문자인가?  
isalnum() 문자열이 문자+숫자혼합인가?  
isupper() 문자열이 대문자인가?   
islower() 문자열이 소문자인가?    
isspace() 문자열이 공백인가?    
   
upper()  대문자로 변환  
str.lower() 소문자로 변환  
str.swapcase() 대소문자 바꾸기  
str.title() 첫글자만 대문자로 변환

#### - 문자열 찾기

In [22]:
str = 'Python programming is easy!'
print(str.count('i')) # 문자열에서 문자'i'의 개수
print(str.find('o'))  # 문자열에서'o'의처음위치. 없으면 -1 반환
print(str.rfind('o')) # 문자열에서'o'가나오는가장나중위치
print(str.index('on'))# 문자열에서'on'의처음위치. 없으면 ValueError

2
4
9
4

#### - 문자열 분리하기

In [23]:
x = 'a bc' # a와b 사이에공백이있다
x.split() # 공백을기준으로분리
['a', 'bc']
x.split('b') # 문자열을( )속의문자로분리한다
['a ', 'c'] # 분리문자'b'는제외됨

['a ', 'c']

#### - 문자열에서 공백 제거하기

In [24]:
str = ' hello '
print(str.strip()) # 양쪽에서 공백제거
print(str) #원래 문자열은 변하지 않는다
print(str.rstrip()) #오른쪽 공백제거
print(str.lstrip()) #왼쪽 공백제거

hello
 hello
 hello
hello

#### - 문자열 결합

In [25]:
'*'.join('hello') # * 와 문자열의 각 문자를 하나씩 결합한 문자열 생성

'h*e*l*l*o'

#### - 문자열 정렬

In [26]:
print('he'.rjust(5)) # 5자리를 오른쪽으로 정렬

print('he'.ljust(5)) # 5자리를 왼쪽으로 정렬

   he
he

# 리스트 (list)

여러가지 자료를 하나로 모아서 표현

In [29]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [28]:
empty = []
empty

[]

#### - 리스트의 인덱싱, 슬라이싱

In [31]:
squares = [1, 4, 9, 16, 25]
squares[0]

1

In [30]:
squares[0:3]
[1, 4, 9]

[1, 4, 9]

리스트 합치기

In [32]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 리스트의 요소 수정, 추가

In [33]:
cubes = [1, 8, 27, 65, 125] # 세제곱수
cubes[3] = 64 # 리스트 요소 수 정하기
cubes

[1, 8, 27, 64, 125]

In [34]:
cubes.append(216)
cubes.append(7 ** 3)
cubes

[1, 8, 27, 64, 125, 216, 343]

#### - 중첩리스트

In [35]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

#### - 2차원 리스트

In [36]:
list2d = [[1,2,3],
[4,5,6],
[7,8,9]]

list2d[0][0]

1

#### - 내장 함수를 이용한 리스트 다루기

리스트 길이

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

리스트 요소의 합, 최솟값, 최댓값

In [38]:
num = [1, 2, 3, 4, 5]
print(sum(num))
print(min(num))
max(num)

15
1

5

#### - 리스트의 메소드

List.Method()   
사용법 >> help()

#### - 리스트 요소 순서 나열

In [39]:
cars = ['taxi', 'sedan', 'bus', 'truck']
cars.sort() 
print(cars)

['bus', 'sedan', 'taxi', 'truck']

In [40]:
cars.sort(reverse=True) #역순배열
print(cars)

['truck', 'taxi', 'sedan', 'bus']

관련 에러

In [43]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])

IndexError: list index out of range

#### - 리스트 내포
리스트 안에 for 문을 퐇ㅁ하여 한 줄로 리스트 만드는 방법
[표현식 for 항목 in 반복객체]
[표현식 for 항목 in 반복객체 if 조건문]
[표현식 if 조건문 else 문장 for 항목 in 반복객체]

In [45]:
a = [1, 2, 3, 4]
result = [num*3 for num in a]
result

[3, 6, 9, 12]

# 튜플 (tuple)
리스트와 같으나 요소를 수정, 삭제 할 수 없다

In [1]:
t1 = (1,2,3)
t1

(1, 2, 3)

In [2]:
t3 = 1, 
t3

(1,)

#### - 튜플 요소 접근

In [3]:
t1 = (1,2,3)
print(t1[1])
print(t1[1:3])

2
(2, 3)

#### - 튜플 연산

In [4]:
t1 = (1,2,3)
t2 = ('a','b')

print(t1 + t2 )
print(t1 * 2)

(1, 2, 3, 'a', 'b')
(1, 2, 3, 1, 2, 3)

#### - 튜플과 리스트 상호 변환

In [ ]:
T1=(1,2,3)
L1=list(T1) # 튜플을 리스트로
L1.append(4) # 추가
T1=tuple(L1) # 리스트를 튜플로
T1

(1, 2, 3, 4)

#### - 튜플 언패킹

In [7]:
a, b, c = (1, 2, 3)
a

1

# 딕셔너리 (dictionary)
사전과 같이 대응 관계를 나타내는 자료구조

키(key) : 값(value)로 구성  
{key1: value1, key2: value2}  

키: 정수, 실수, 문자열, 튜플  
값: 임의의 데이터형

In [8]:
height = {'Jun':174, 'Kim':170, 'Lee':165} 
height

{'Jun': 174, 'Kim': 170, 'Lee': 165}

In [ ]:
height['Kim']

170

In [9]:
test = dict() # 빈 딕셔너리
test

{}

In [11]:
'Kim' in height

True

#### -딕셔너리 요소 수정, 추가

In [12]:
height['Lee'] = 180 
height

{'Jun': 174, 'Kim': 170, 'Lee': 180}

In [13]:
height['Ihm']=168
height

{'Jun': 174, 'Kim': 170, 'Lee': 180, 'Ihm': 168}

#### - 딕셔너리 키, 값, 요소 뽑아내기

In [14]:
height.keys()

dict_keys(['Jun', 'Kim', 'Lee', 'Ihm'])

In [15]:
height.values()

dict_values([174, 170, 180, 168])

In [16]:
height.items()

dict_items([('Jun', 174), ('Kim', 170), ('Lee', 180), ('Ihm', 168)])

In [17]:
dict_keys = height.keys()
keys_list = list(dict_keys) # 리스트로 변환
keys_list

['Jun', 'Kim', 'Lee', 'Ihm']

#### 요소 제거

In [18]:
height.pop('Ihm') 
height

{'Jun': 174, 'Kim': 170, 'Lee': 180}

#### - 딕셔너리 지우기

In [19]:
height.clear() 
height

{}

# 집합
요소들을 중복되지 않고 순서없이 모아놓은 자료구조

In [20]:
name = set(['Kim', 'Lee', 'Park'])
name

{'Kim', 'Lee', 'Park'}

#### - 개수 확인, 수정

In [21]:
len(name)

3

In [22]:
name.add('Gyu')
name

{'Gyu', 'Kim', 'Lee', 'Park'}

In [23]:
name.remove('Gyu')
name

{'Kim', 'Lee', 'Park'}

#### - 집합의 연산

In [ ]:
setA={1,2,3}
setB={2,3,4}

setA - setB

{1}

In [26]:
setA & setB

{2, 3}

In [27]:
setA | setB

{1, 2, 3, 4}

#### - 부분집합 연산

In [28]:
setA = {1, 2, 3}
setB = {1, 2, 3}
setA == setB

True

In [29]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
setB < setA

True

In [30]:
setB.issubset(setA) # 집합B가 집합A의 부분집합인가?

True

#### - 집합 예제

1부터 45까지의 수 중에서 6개를 선택하여 로또 번호 만드는 프로그램

In [32]:
import random
pick = set()
while len(pick) < 6:
 n = random.randint(1,45) 
 if n not in pick:
  pick.add(n) 
print(pick)
print(sorted(pick))

{43, 13, 45, 20, 27, 29}
[13, 20, 27, 29, 43, 45]