# 기본 입출력 함수

#### - print() 함수
코드 실행중 데이터 흐름을 추적하거나 디버깅할 때 활용

In [1]:
print("Hello")

Hello

In [2]:
print(10+20)

30

In [3]:
x = 3
y = 7
z = x + y
print(f"x = {x}")
print(f"y = {y}")
print(x, '+', y, '=',z) #문자열과 변수의 조합출력

x = 3
y = 7
3 + 7 = 10

#### - print() 함수의 서식지정

In [13]:
print("10" + "20")
print("3번출력 " * 3)

1020
3번출력 3번출력 3번출력

In [ ]:
n = 10
print("n=%d" %n) # 서식 지정 출력 10진수로 변환
print("n=%x" %n) # 16진수로 변환

n=10
n=a

#### - input() 함수
사용자 지정 데이터 입력  
input 함수는 default로 항상 문자열로 반환

In [ ]:
n = input("type a number: ") # 예시 입력: 3
n

'3'

In [6]:
int(n) #문자열을 정수로 변환

3

In [7]:
float(n) #문자열을 실수형으로 변환

3.0

In [8]:
n = str(3) #정수를 다시 문자열로 변환
n

'3'

#### - 입출력 함수의 사용 예시

문자열 입력 받아 다른 문자열과 결합 후 출력

In [12]:
name = input('Name: ')
print("Hello," + name)

Hello,Lee

정수로 변환 후 곱셉값 출력

In [ ]:
a = int(input('Number1: ')) # 예시 입력: 4
b = int(input('Number2: ')) # 예시 입력: 5
print(a * b)

20

섭씨온도(C)를 입력 받아 화씨온도(F)로 바꾸어 출력

In [ ]:
# 예시 입력: 26
C = float(input("Type 섭씨온도 : ")) # 입력 문자열을 실수로 변환
F = C*9/5 + 32 # 화씨로 온도 변환
print("화씨온도는", F)

화씨온도는 78.8

# 기본 자료형
1. 부울
2. 정수
3. 실수
4. 문자열

#### - 부울형 (Boolean)
True 또는 False 중 하나의 값을 갖는 자료형

In [ ]:
aVar = True
bVar = False
type(aVar)

파이썬 인터프리터가 a > b 비교식을 자동으로 평가

In [1]:
a = 1
b = 2
c = a > b 
c

False

#### - 정수형 (interger)

소수점 없는 숫자 표현

In [2]:
intVar = 5
type(intVar)

int

정수의 여러가지 표현

In [ ]:
1, 23, 3493 # 10진수

(1, 23, 3493)

In [ ]:
0b010101, 0b110010 # 2진수 ob

(21, 50)

In [ ]:
0o1, 0o27, 0o6645 # 8진수 0o

(1, 23, 3493)

In [ ]:
0x1, 0x17, 0xDA5 # 16진진수 0x

(1, 23, 3493)

#### - 실수형 (float)

In [9]:
fVar = 1.0
type(fVar)

float

언더 바 (_) 는 실제 값에 영향을 주지 않고 쉽게 식별할 수 있는 기능

In [10]:
100_000.000_0001, 0x_FF_FF, 0o7_777, 0b_1010_1010

(100000.0000001, 65535, 4095, 170)

#### - 문자열 (string)

In [11]:
strVar = "test"
type(strVar)

str

작은따옴표(')와 큰따옴표(")는 기능상 차이가 없다

In [13]:
print('This is a literal string')
print("This is another string")

This is a literal string
This is another string

문장을 두 줄 이상으로 표시할 경우 역슬러시 사용

In [14]:
'A not very long string \
that spans two lines'

'A not very long string that spans two lines'

# 연산자
1. 지정 연산자
2. 산술 연산자
3. 논리 연산자
4. 관계 연산자
5. 멤버 연산자
6. 식별 연산자
7. 연산 오류

#### - 지정 연산자 (assignment operator)  
변수나 표현에 값을 할당

In [17]:
i = 3
i = i + 2
i

5

#### - 산술 연산자 (arithmetic operator)
사칙 연산자, 정수 나눗셈, 나머지 연산자

In [20]:
a = 10
b = 3
c = a % b # 나머지 연산
d = a // b # 정수 나눗셈
e = a / b
f = a * b # 곱셈
g = a ** b # 제곱
print('c의 값: ', c)
print('d의 값: ', d)
print('e의 값: ', e)
print('f의 값: ', f)
print('g의 값: ', g)

c의 값:  1
d의 값:  3
e의 값:  3.3333333333333335
f의 값:  30
g의 값:  1000

#### - 관계 연산자 (relation operator)
두 값을 비교하여 boolean 값 반환

In [21]:
score = 95
print(score >= 90)
print(score < 80)
print(score == 90)
print(score != 80)

True
False
False
True

#### - 논리 연산자(logical operator)
논리곱 (and), 논리합 (or), 논리부정 (not)
결과 값은 boolean

In [23]:
exam = 85
report = 85
print(exam >= 80 and report >= 80)
print(exam >= 90 or report >= 90)
print(not(exam < 90))

True
False
False